<div class="container">
  
    <h2>Usuarios</h2>
    <hr>
  
  <div class="row">
    <label class="col-sm-8 control-label" for="singlebutton"></label>
        <div class=" row col-md-3">
    
          <button   type="button"  
                  routerLink="/registro-admin"  
                  class="btn btn-primary btn-lg btn-block " style="background-color: #ff9100;"  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                  </svg>
                  &nbsp; Añadir Usuario 
          </button>
        </div>
  </div> 
  <br><br>
    
   
  <!-- 
    <label class="col-sm-8 control-label" for="singlebutton"></label>
        <div class=" row col-md-3">
            <button   type="button"  
            routerLink="/registro-admin"  
            class="btn btn-primary btn-lg btn-block" style="background-color: #ff9100;"  >Añadir Usuario </button>
        </div>
  </div> -->
  <div class="row">
    <div class="col table-responsive">
      <table  class="table table-striped table-hover table-responsive table-wrapper-scroll-y my-custom-scrollbar" id="racetimes">
        <tr id="firstrow">
          <th scope="col">#</th>
          <th scope="col">Nombres</th>
          <th scope="col">Ap Paterno</th>
          <th scope="col">Ap Materno</th>
          <th scope="col">Email</th>
          <th scope="col">Rol</th>
          <th scope="col">División</th>
          <th scope="col">Cargo</th>
          <th scope="col">Acción</th>
        </tr>
        <tr *ngFor="let data of usuarios; let index = index">
          <td>{{ index + 1 }}</td>
          <td>{{ data.nombre }}</td>
          <td>{{ data.ap_paterno }}</td>
          <td>{{ data.ap_materno }}</td>
          <td>{{ data.email }}</td>
          <td>{{ data.rol_id_rol | rol }}</td>
          <td>{{ data.division_id_division | division }}</td>
          <td>{{ data.cargo_id_cargo | cargo }}</td>
          <td>
            <button class="btn btn-outline-dark btn-sm" (click)="accionEditar(content, data)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
              &nbsp; Editar
            </button>
            <button class="btn btn-outline-dark btn-sm" (click)="eliminar(data)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
              </svg>
              &nbsp; Eliminar
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header bg-success text-white">
    <h4 class="modal-title">Editar Usuario</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="registrar()">
      <div class="form-row">
        <div class="col-sm-4">
          <label>Nombre <span class="text-danger">(*)</span>  </label>
          <input type="text" name="nombre" id="nombre" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }"
                 formControlName="nombre" [(ngModel)]="usuario.nombre" style="text-transform:uppercase">
          <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
            <div *ngIf="f.nombre.errors.required">Nombre es requerido</div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>Apellido Paterno <span class="text-danger">(*)</span>  </label>
          <input type="text" name="ap_paterno" id="ap_paterno" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.ap_paterno.errors }"
                 formControlName="ap_paterno" [(ngModel)]="usuario.ap_paterno" style="text-transform:uppercase">
          <div *ngIf="submitted && f.ap_paterno.errors" class="invalid-feedback">
            <div *ngIf="f.ap_paterno.errors.required">Apellido Paterno es requerido</div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>Apellido Materno</label>
          <input type="text" name="ap_materno" id="ap_materno" class="form-control"
                 formControlName="ap_materno" [(ngModel)]="usuario.ap_materno" style="text-transform:uppercase">
        </div>
        <div class="col-sm-4">
          <label>Carnet de Identidad <span class="text-danger">(*)</span>  </label>
          <input type="text" name="ci" id="ci" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.ci.errors }"
                 formControlName="ci" [(ngModel)]="usuario.ci" style="text-transform:uppercase">
          <div *ngIf="submitted && f.ci.errors" class="invalid-feedback">
            <div *ngIf="f.ci.errors.required">Carnet de Identidad es requerido</div>
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="col-sm-4">
          <label>Email<span class="text-danger">(*)</span></label>
          <input type="email" name="email" id="email" class="form-control"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                 formControlName="email" [(ngModel)]="usuario.email">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email es requerido</div>
            <div *ngIf="f.email.errors.email">Email debe ser una dirección de correo electrónico válida</div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>Rol<span class="text-danger">(*)</span></label>
          <select name="rol" id="rol" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.rol.errors }"
                  formControlName="rol" [(ngModel)]="usuario.rol_id_rol">
            <option *ngFor="let data of roles" [value]="data.id_rol">{{ data.rol }}</option>
          </select>
          <div *ngIf="submitted && f.rol.errors" class="invalid-feedback">
            <div *ngIf="f.rol.errors.required">Rol es requerido</div>
          </div>
        </div>
        <div class="col-sm-4">
          <label>División<span class="text-danger">(*)</span></label>
          <select name="division" id="division" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.division.errors }"
                  formControlName="division" [(ngModel)]="usuario.division_id_division">
            <option *ngFor="let data of divisiones" [value]="data.id_division">{{ data.division }}</option>
          </select>
          <div *ngIf="submitted && f.division.errors" class="invalid-feedback">
            <div *ngIf="f.division.errors.required">División es requerida</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-sm-4">
          <label for="cargo">Cargo <span class="text-danger">(*)</span></label>
          <select name="cargo" id="cargo" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.cargo.errors }"
                  formControlName="cargo" [(ngModel)]="usuario.cargo_id_cargo">
            <option *ngFor="let data of cargos" [value]="data.id_cargo">{{ data.cargo }}</option>
          </select>
          <div *ngIf="submitted && f.cargo.errors" class="invalid-feedback">
            <div *ngIf="f.cargo.errors.required">Repetir la contraseña</div>
          </div>
        </div>
      </div>
      <div class="form-row mt-2">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-right">
          <button class="btn btn-success btn-lg" type="submit">Actualizar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

